.menu {
  place-content: center;
  position: relative;
  z-index: 100;
  width: 100%;
  left: auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 33px;
  display: flex;
  align-items: center;
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  font-size: x-large;
}
