.menu {
  place-content: center;
  position: relative;
  z-index: 100;
  width: 100%;
  left: auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  height : 33px;
  display:flex;
  align-items: center;
}
