<div class="container" [class.protect]="isProtect" (document:mousemove)="onMouseMove($event)" (document:mouseup)="onMouseUp($event)" draggable="false">
  <div class="section-top">
  </div>
  <div class="section-explorer" #explorer [class.protect]="isProtect">
    <div class="section-explorer-scroll-width" [class.protect]="isProtect">
      <app-explorer style="height : 100%; width :100% ; overflow-y: unset"></app-explorer>
    </div>

  </div>
  <div class="section-main" #main [class.protect]="isProtect">
    <div class="markdown" #markdown [class.protect]="isProtect">
      <div class="resize-bar" (mousedown)="resizeExplolerMarkdown($event)"></div>
      <app-codemirror></app-codemirror>
    </div>
    <div class="viewer" #viewer [class.protect]="isProtect">
      <div class="resize-bar" (mousedown)="resizeMain($event)"></div>
      <app-marked></app-marked>
    </div>

  </div>
</div>

<div [class]="findStype">
  <input class="find-input" id='find' type="text" [(ngModel)]="findText" (keyup.enter)="find()" placeholder="search" (keyup.escape)='closeFind()'><a class="close" (click)='closeFind()'>✕</a>
</div>

