<div class="workspace">
  <div class="line">
    <a class="open-work-space" (click)="openWorkSpace()">open work space</a>
  </div>

  <div>
    <input type="text" placeholder="grep" [(ngModel)]="search" class="search" (keydown.enter)="doSearch()">
  </div>
  <div class="line">
    <img title="reload explorer" src="assets/sync.svg" class="icon-sync" (click)="monitoringExplorer()" />
    <img title="close folder" src="assets/close.svg" class="icon-close" (click)="closeFolder()" />
  </div>
</div>

<ng-template #rowsTemplate let-rows>
  <ng-container *ngFor="let row of rows">
    <ng-container *ngIf="row.isDirectory">
      <div class="line" (click)="folerOnOff(row)" [style.padding-left]="10 * row.depth + 'px'" (contextmenu)="onRightClick(row)">
        <img *ngIf="!row.opened" class="tree-icon" src="assets/tree-icon/baseline-folder-24px.svg" />
        <img *ngIf="row.opened" class="tree-icon" src="assets/tree-icon/baseline-folder_open-24px.svg" />
        <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
      </div>
      <ng-container *ngIf="row.opened">
        <ng-container *ngTemplateOutlet="rowsTemplate; context: {$implicit: row.childTree}"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!row.isDirectory">
      <ng-container *ngIf="isImage(row.name)">
        <a class="line" (contextmenu)="onRightClick(row)" [href]="getLocalImageUrl(row)" [attr.data-lightbox]="getBase64LocalImageUrl(row)" [class.active]="isActive(row)" [style.padding-left]="10 * row.depth + 'px'">
          <img class="tree-icon" [src]="getFileIcon(row)" />
          <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
        </a>
      </ng-container>
      <ng-container *ngIf="!isImage(row.name)">
        <div class="line" (contextmenu)="onRightClick(row)" (click)="openFile(row)" [class.active]="isActive(row)" [style.padding-left]="10 * row.depth + 'px'">
          <img class="tree-icon" [src]="getFileIcon(row)" />
          <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<div class="css-treeview">
  <ng-container *ngIf="treeExplorer">
    <ng-container *ngTemplateOutlet="rowsTemplate; context: {$implicit: treeExplorer.childTree}"></ng-container>
  </ng-container>
</div>

