.workspace {
  padding-left: 10px;
  padding-top: 10px;
  .line {
    display: flex;
    align-items: center;
  }
  a {
    color: -webkit-link;
    text-decoration-line: blank;
    &:hover {
      cursor: pointer
    }
  }
  .input-flat {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: gray;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    &:hover {
      background: gray;
      color: white;
    }
  }
  .icon-sync {
    margin-left: auto;
    margin-right: 10px;
    filter: brightness(0) invert(0.5);
    background-color: none;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
  .icon-close {
    margin-right: 10px;
    filter: brightness(0) invert(0.5);
    background-color: none;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
}

.tree-icon {
  filter: brightness(0) invert(0.5);
  background-color: none;
}

.files:hover {
  cursor: pointer;
  color: -webkit-link;
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: darkblue;
  background-color: darkgrey;
}

/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/

/*
 * This solution works with all modern browsers and Internet Explorer 9+.
 * If you are interested in purchasing a JavaScript enabler for IE8
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/

.css-treeview ul,
.css-treeview li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.css-treeview input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.css-treeview .line {
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.css-treeview .name {
  vertical-align: super;
  padding-left: 3px;
}

.css-treeview {
  font: normal 13px "Segoe UI", Arial, Sans-serif; // color : white;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.search {
  width: calc(100% - 10px);
}
