<div class="workspace" #workspace>
  <div class="line">
    <a class="open-work-space" (click)="openWorkSpace()">open work space</a>
    <img title="reload explorer" src="assets/setting.svg" class="icon-sync" (click)="clickSetting();" />
  </div>
  <div *ngIf="isSetting" class="setting">
    <div class="theme">Theme</div>
    <div>Markdown Theme</div>
    <select (change)="changeCodemirrorTheme($event)">
      <option [selected]="theme === selectedCodemirrortheme" *ngFor="let theme of comdemirrorTheme" [value]="theme">{{theme}}</option>
    </select>
    <div>hightlight Theme</div>
    <select (change)="changeHightTheme($event)">
      <option [selected]="theme === selectedHightTheme" *ngFor="let theme of hightlightTheme" [value]="theme">{{theme}}</option>
    </select>
  </div>
  <div>
    <input type="text" placeholder="grep" [(ngModel)]="search" class="search" (keydown.enter)="doSearch()">
  </div>
  <div class="line">
    <img title="reload explorer" src="assets/sync.svg" class="icon-sync" (click)="monitoringExplorer()" />
    <img title="close folder" src="assets/close.svg" class="icon-close" (click)="closeFolder()" />
  </div>

</div>

<ng-template #rowsTemplate let-rows>
  <ng-container *ngFor="let row of rows">
    <ng-container *ngIf="row.isDirectory">
      <div class="line" (click)="folerOnOff(row)" [style.padding-left]="10 * row.depth + 'px'" (contextmenu)="onRightClick(row)">
        <div class="icon-svg-exploler close" *ngIf="!row.opened">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
        <div class="icon-svg-exploler open" *ngIf="row.opened">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5.875,16h10.5V5.5L5.875,16z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
        <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
      </div>
      <ng-container *ngIf="row.opened">
        <ng-container *ngTemplateOutlet="rowsTemplate; context: {$implicit: row.childTree}"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!row.isDirectory">
      <ng-container *ngIf="isImage(row.name)">
        <a class="line" (contextmenu)="onRightClick(row)" [href]="getLocalImageUrl(row)" [attr.data-lightbox]="getBase64LocalImageUrl(row)" [class.active]="isActive(row)" [style.padding-left]="10 * row.depth + 'px'">
          <div class="icon-svg-exploler img">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z" />
            </svg>
          </div>
          <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
        </a>
      </ng-container>
      <ng-container *ngIf="!isImage(row.name)">
        <div class="line" (contextmenu)="onRightClick(row)" (click)="openFile(row)" [class.active]="isActive(row)" [style.padding-left]="10 * row.depth + 'px'">
          <ng-container [ngSwitch]="getFileKind(row.name)">
            <ng-container *ngSwitchCase="'md'">
              <div class="icon-svg-exploler md">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0V0z" />
                  <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
                </svg>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'other'">
              <div class="icon-svg-exploler other">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                </svg>
              </div>
            </ng-container>
          </ng-container>
          <span class="name" [class.right-click]="isRightClick(row)">{{row.name}}</span>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<div class="css-treeview" #tree>
  <ng-container *ngIf="treeExplorer">
    <ng-container *ngTemplateOutlet="rowsTemplate; context: {$implicit: treeExplorer.childTree}"></ng-container>
  </ng-container>
</div>
